STRING_Q1

In [1]:
pin = "881120-1068234"
yyyymmdd = pin[0:6]
num = pin[7:]
print(yyyymmdd)

881120

In [2]:
print(num)

1068234

In [3]:
print(yyyymmdd)
print(num)

881120
1068234

STRING_Q2

In [5]:
pin = "881120-1068234"
print(pin[7])

1

LIST_Q1

In [7]:
a = [1, 3, 5, 4, 2]
a

[1, 3, 5, 4, 2]

In [9]:
a.sort()
a

[1, 2, 3, 4, 5]

In [10]:
a.reverse()
a

[5, 4, 3, 2, 1]

LIST_Q2

In [11]:
a = ['Life', 'is', 'too', 'short']
a

['Life', 'is', 'too', 'short']

In [13]:
a[0:4]

['Life', 'is', 'too', 'short']

In [14]:
a[0] + a[1]

'Lifeis'

In [16]:
print(a[0] + ' ' + a[1] + ' ' + a[2] + ' ' + a[3])

Life is too short

In [22]:
result = " ".join(a)
print(result)

Life is too short

TUPLE_Q1

In [9]:
a = (1, 2, 3)
a

(1, 2, 3)

In [10]:
a = a + (4,)
a

(1, 2, 3, 4)

In [11]:
print(a)

(1, 2, 3, 4)

DICTIONARY_Q1

In [17]:
a = {'A':90, 'B':80, 'C':70}
a

{'A': 90, 'B': 80, 'C': 70}

In [18]:
result = a.pop('B')

In [19]:
print(a)

{'A': 90, 'C': 70}

In [20]:
print(result)

80

SET_Q1

In [21]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
a

[1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]

In [27]:
aSet = set(a)
print(aSet)

{1, 2, 3, 4, 5}

In [28]:
b = list(aSet)

In [29]:
print(b)

[1, 2, 3, 4, 5]

VARIABLE_Q1

In [30]:
a = b = [1, 2, 3]
a[1] = 4
a

[1, 4, 3]

In [31]:
b

[1, 4, 3]

In [32]:
a = [1, 2, 3]

In [35]:
b = a[:]
a[1] = 4

In [36]:
a

[1, 4, 3]

In [37]:
b

[1, 2, 3]

In [39]:
a = (1, 2, 3)
a

(1, 2, 3)

In [40]:
print(id(a))

1745652422912

In [41]:
a = a + (4,)
print(a)

(1, 2, 3, 4)

In [42]:
print(id(a))

1745652507016