STRING_Q1

In [1]:
pin = "881120-1068234"
yyyymmdd = pin[0:6]
num = pin[7:]
print(yyyymmdd)

881120

In [2]:
print(num)

1068234

In [3]:
print(yyyymmdd)
print(num)

881120
1068234

STRING_Q2

In [5]:
pin = "881120-1068234"
print(pin[7])

1

LIST_Q1

In [7]:
a = [1, 3, 5, 4, 2]
a

[1, 3, 5, 4, 2]

In [9]:
a.sort()
a

[1, 2, 3, 4, 5]

In [10]:
a.reverse()
a

[5, 4, 3, 2, 1]

LIST_Q2

In [11]:
a = ['Life', 'is', 'too', 'short']
a

['Life', 'is', 'too', 'short']

In [13]:
a[0:4]

['Life', 'is', 'too', 'short']

In [14]:
a[0] + a[1]

'Lifeis'

In [16]:
print(a[0] + ' ' + a[1] + ' ' + a[2] + ' ' + a[3])

Life is too short

In [22]:
result = " ".join(a)
print(result)

Life is too short

TUPLE_Q1

In [9]:
a = (1, 2, 3)
a

(1, 2, 3)

In [10]:
a = a + (4,)
a

(1, 2, 3, 4)

In [11]:
print(a)

(1, 2, 3, 4)

DICTIONARY_Q1

In [17]:
a = {'A':90, 'B':80, 'C':70}
a

{'A': 90, 'B': 80, 'C': 70}

In [18]:
result = a.pop('B')

In [19]:
print(a)

{'A': 90, 'C': 70}

In [20]:
print(result)

80

SET_Q1

In [21]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
a

[1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]

In [27]:
aSet = set(a)
print(aSet)

{1, 2, 3, 4, 5}

In [28]:
b = list(aSet)

In [29]:
print(b)

[1, 2, 3, 4, 5]

VARIABLE_Q1

In [30]:
a = b = [1, 2, 3]
a[1] = 4
a

[1, 4, 3]

In [31]:
b

[1, 4, 3]

In [32]:
a = [1, 2, 3]

In [35]:
b = a[:]
a[1] = 4

In [36]:
a

[1, 4, 3]

In [37]:
b

[1, 2, 3]

In [39]:
a = (1, 2, 3)
a

(1, 2, 3)

In [40]:
print(id(a))

1745652422912

In [41]:
a = a + (4,)
print(a)

(1, 2, 3, 4)

In [42]:
print(id(a))

1745652507016

In [1]:
"="*50

'=================================================='

In [2]:
print("="*50)

==================================================

In [3]:
head = 'hello'
tail = ' world'
print(head+tail)

hello world

In [4]:
a = "Life is too short. You need Python"

In [5]:
a

'Life is too short. You need Python'

In [6]:
print(a)

Life is too short. You need Python

In [7]:
a[1] + a[3]

'ie'

In [8]:
print(a[1]+a[2])

if

In [9]:
a[0:4]

'Life'

In [10]:
a[0:4] + ' ' + a[5:7]

'Life is'

In [11]:
a[:19]

'Life is too short. '

In [12]:
a[:17]

'Life is too short'

In [13]:
a = 'Pithon'
a[1]

'i'

In [14]:
a[1] = 'y'

TypeError: 'str' object does not support item assignment

In [15]:
a[:1] + 'y' + a[2:]

'Python'

In [16]:
"I eat %d apples." %3

'I eat 3 apples.'

In [17]:
"I eat %s apples." %"five"

'I eat five apples.'

In [18]:
"I eat %s apples." %five

NameError: name 'five' is not defined

In [19]:
number = 3
"I eat %d apples." &"number"

TypeError: unsupported operand type(s) for &: 'str' and 'str'

In [20]:
number = 3
"I eat %d apples." %number

'I eat 3 apples.'

In [21]:
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." %(day, number)

TypeError: %d format: a number is required, not str

In [22]:
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." %(number, day )

'I ate 10 apples. so I was sick for three days.'

In [23]:
"I eat %s apples." %five

NameError: name 'five' is not defined

In [24]:
"I have %s apples." %3

'I have 3 apples.'

In [25]:
"Error is %d%%." %98

'Error is 98%.'

In [26]:
"%10s" %"hi"

'        hi'

In [27]:
"%-10s" %"hi"

'hi        '

In [29]:
a = "hobby"
a.count('b')

2

In [30]:
a = "Python is best choice"
a.find('k')

-1

In [31]:
a.index('k')

ValueError: substring not found

In [32]:
a = ","
a.join('cdef')

'c,d,e,f'

In [33]:
a = "hi"
a.upper()

'HI'

In [34]:
b = "HI"
b.upper()

'HI'

In [35]:
a = "HI"
a.lower()

'hi'

In [36]:
a = "Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

In [37]:
money = 2000
card = 1
if money >= 3000 or card:
    print("택시를 타고 가라")
else:
    print("걸어 가라")

택시를 타고 가라