4 ways of making "String"

In [1]:
"Hello World"

'Hello World'

In [2]:
'Python is fun'

'Python is fun'

In [3]:
"""Life is too short, You need python"""

'Life is too short, You need python'

In [4]:
'''Life is too short, You need python'''

'Life is too short, You need python'

In order to include 'Single/Double quotation marks' in STRING

In [9]:
food = "Python's favorite food is perl"
food

"Python's favorite food is perl"

In [10]:
print(food)

Python's favorite food is perl

In [11]:
Print(food)

NameError: name 'Print' is not defined

In [14]:
food = 'Python's favorite food is perl'

SyntaxError: invalid syntax (<ipython-input-14-4bf9be702834>, line 1)

In [16]:
say = '"Python is very easy." he says.'
say

'"Python is very easy." he says.'

In [17]:
print(say)

"Python is very easy." he says.

In [19]:
food = 'Python\'s favorite food is perl'
food

"Python's favorite food is perl"

In [20]:
print(food)

Python's favorite food is perl

In [22]:
say = "\"Python is very easy.\" he say."
print(say)

"Python is very easy." he say.

STRING with multiline

In [24]:
multiline = "Life is too short\nYou need python"
print(multiline)

Life is too short
You need python

In [27]:
multiline = '''
Life is too short
You need python
'''
print(multiline)

Life is too short
You need python

In [29]:
multiline = """
Life is too short
You need python
"""
print(multiline)

Life is too short
You need python

Calculation of STRING

In [32]:
head = "Python"
tail = " is fun!"
head + tail

'Python is fun!'

In [33]:
print(head + tail)

Python is fun!

In [34]:
a = "python"
a * 2

'pythonpython'

In [36]:
#multistring.py

print("=" * 50)

==================================================

In [37]:
#multistring.py

print("=" * 50)
print("My Program")
print("=" * 50)

==================================================
My Program
==================================================

In [38]:
#multistring.py

print("=" * 50)
print(" " * 20 + "My Program" + " " * 20)
print("=" * 50)

==================================================
                    My Program
==================================================

Indexing

In [39]:
a = "Life is too short, You need Python"
a[3]

'e'

In [40]:
a[4]

' '

In [41]:
print(a[3])

e

In [42]:
a[-1]

'n'

In [43]:
a[-7]

' '

In [44]:
a[-0]

'L'

Slicing

In [45]:
a = "Life is too short, You need Python"
b = a[0] + a[1] + a[2] + a[3]
b

'Life'

In [46]:
print(b)

Life

In [48]:
a[0:4]

'Life'

In [49]:
print(a[0:4])

Life

In [50]:
a[0:3]

'Lif'

In [51]:
a[5:7]

'is'

In [52]:
a[5:]

'is too short, You need Python'

In [53]:
a[:11]

'Life is too'

In [54]:
a[:]

'Life is too short, You need Python'

In [58]:
a = "20010331Rainy"
date = a[:8]
weather = a[8:]
date

'20010331'

In [59]:
weather

'Rainy'

In [60]:
a = "20010331Rainy"
year = a[:4]
day = a[4:8]
weather = a[8:]

In [61]:
year

'2001'

In [62]:
day

'0331'

In [63]:
weather

'Rainy'

In [64]:
a = "Pithon"
a[:1]

'P'

In [65]:
a[2:]

'thon'

In [66]:
a[:1] + 'y' + a[2:]

'Python'

In [67]:
print(a[:1] + 'y' + a[2:])

Python

Formatting

In [68]:
"I eat %d apples." %3

'I eat 3 apples.'

In [69]:
"I eat %s apples." %"five"

'I eat five apples.'

In [70]:
number = 3
"I eat %d apples." %number

'I eat 3 apples.'

In [71]:
number = 3
"I eat %s apples." %"number"

'I eat number apples.'

In [72]:
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." %(number, day)

'I ate 10 apples. so I was sick for three days.'

In [73]:
"I ate %d apples. so I was sick for %s days." %(10, three)

NameError: name 'three' is not defined

In [76]:
a = "I ate 0 apples. so I was sick for 0 days"
a[:6] + '5' + a[7:34] + '3' + a[35:]

'I ate 5 apples. so I was sick for 3 days'

In [77]:
"I have %s apples" %3

'I have 3 apples'

In [78]:
"rate is %s" %3.234

'rate is 3.234'

In [79]:
"Error is %d%." %98

ValueError: incomplete format

In [84]:
"Error is %d%%." %98

'Error is 98%.'

Using FORMAT CODE and FIGURE together

In [85]:
"%10s" %"hi"

'        hi'

In [86]:
"%-10sjane." %'hi'

'hi        jane.'

In [87]:
"%0.4f" %3.42134234

'3.4213'

In [88]:
"%10.4f" %3.42134234

'    3.4213'

In [89]:
a = "hobby"
a.count('b')

2

In [90]:
a = "Python is best choice"
a.find('b')

10

In [91]:
a.find('k')

-1

In [92]:
a = "Life is too short"
a.index('t')

8

In [93]:
a.index('k')

ValueError: substring not found

In [94]:
a = ","
a.join('abcd')

'a,b,c,d'

In [95]:
a = "hi"
a.upper()

'HI'

In [96]:
a = "HI"
a.lower()

'hi'

In [97]:
a = "hi"
a.lstrip()

'hi'

In [98]:
a = "     hi"
a.lstrip()

'hi'

In [99]:
a = "hi    "
a.rstrip()

'hi'

In [101]:
a = "     hi     "
a.strip()

'hi'

In [102]:
a = "Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

In [103]:
a = "Life is too short"
a.split()

['Life', 'is', 'too', 'short']

In [105]:
a = "a:b:c:d"
a.split(':')

['a', 'b', 'c', 'd']

Format function of STRING (Rarely used)

In [106]:
"I eat {0} apples".format(3)

'I eat 3 apples'

In [107]:
"I eat {0} apples".format("five")

'I eat five apples'

In [108]:
number = 3
"I eat {0} apples".format(number)

'I eat 3 apples'

In [109]:
number = 10
day = "three"
"I ate {0} apples. so I was sick for {1} days.".format(number, day)

'I ate 10 apples. so I was sick for three days.'

In [110]:
"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [111]:
"I ate {0} apples. so I was sick for {day} days.".format(10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [112]:
"{0:<10}".format("hi")

'hi        '

In [113]:
"{0:>10}".format("hi")

'        hi'

In [114]:
"{0:^10}".format("hi")

'    hi    '

In [115]:
"{0:=^10}".format("hi")

'====hi===='

In [116]:
"{0:!<10}".format("hi")

'hi!!!!!!!!'

In [117]:
y = 3.42134234
"{0:0.4f}".format(y)

'3.4213'

In [118]:
"{0:10.4f}".format(y)

'    3.4213'

In [119]:
"{{and}}".format()

'{and}'