How to make SET

In [10]:
s1 = set([1, 2, 3])
s1

{1, 2, 3}

In [11]:
s2 = set("Hello")
s2

{'H', 'e', 'l', 'o'}

In [13]:
a = set([1,2,3])
a

{1, 2, 3}

In [16]:
s1 = set([1, 2, 3])
l1 = list(s1)
l1

[1, 2, 3]

In [17]:
l1[0]

1

In [18]:
t1 = tuple(s1)
t1

(1, 2, 3)

In [19]:
t1[0]

1

The use of SET

In [21]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])
s1

{1, 2, 3, 4, 5, 6}

In [22]:
s2

{4, 5, 6, 7, 8, 9}

In [23]:
s1 & s2

{4, 5, 6}

In [24]:
s1.intersection(s2)

{4, 5, 6}

In [25]:
s2.intersection(s1)

{4, 5, 6}

In [26]:
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [27]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [28]:
s2.union(s1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [29]:
s1 - s2

{1, 2, 3}

In [31]:
s1.difference(s2)

{1, 2, 3}

In [32]:
s2.difference(s1)

{7, 8, 9}

In [33]:
s1 = set([1, 2,3 ])
s1.add(4)
s1

{1, 2, 3, 4}

In [34]:
s1 = set([1, 2, 3])
s1.update([4, 5, 6])
s1

{1, 2, 3, 4, 5, 6}

In [36]:
s1 = set([1, 2, 3])
s1.remove(2)
s1

{1, 3}

In [37]:
s1.remove(3)
s1.remove(1)
s1

set()

In [38]:
s1.add(1)
s1

{1}