### Python 문법

# integer, float operation

ex. 
- 500 + 900
- 30 - 15
- 10 * 100
- 100 / 10

- 1.1 + 123.9
- 121.1 - 1.1
- 1.123 * 4.123
- 3.3 / 1.1

을 구해보세요.

In [61]:
# solution
print(500 + 900)
print(30 - 15)
print(10 * 100)
print(100 / 10)
print(1.1 + 123.9)
print(121.1 - 1.1)
print(1.123 * 4.123)
print(3.3 / 1.1)

1400
15
1000
10.0
125.0
120.0
4.630129
2.9999999999999996

# String Handling

ex. 아래 선언되어있는 String의 3번째 글자를 출력해보세요.

In [2]:
str1 = '문자열다뤄봐요'

In [3]:
# solution
print(str1[2])

열

ex. 아래에 선언되어있는 String의 불필요한 공백을 지워보세요

In [5]:
str1 = '문자열다뤄봐요  '
str2 = '  한양대특강'
str3 = '  파이떤 참 쉽죠?  '

In [6]:
# solution
str1 = str1.rstrip()
str2 = str2.lstrip()
str3 = str3.strip()
print(str1)
print(str2)
print(str3)

문자열다뤄봐요
한양대특강
파이떤 참 쉽죠?

#### format문 사용하기

ex. 'x와 y를 더하면 x+y입니다.' 라는 문장을 출력하는 프로그램을 작성해보시고, x와 y를 마음껏 바꿔보세요.

hint: '{변수명} '.format(변수명=값)

In [7]:
# ex3
x = 1
y = 2

# 여기에 목표하는 format문을 작성해보세요.
print('와 를 더하면 입니다.')

와 를 더하면 입니다.

In [8]:
# solution
x = 1
y = 2

# 여기에 목표하는 format문을 작성해보세요.
print('{x}와 {y}를 더하면 {z}입니다.'.format(x=x, y=y, z=x+y))

1와 2를 더하면 3입니다.

# Data Type - List, Dictionary

#### 선언

ex. list_1 이라는 List를 선언해보세요

ex. dict_1 이라는 Dict를 선언해보세요

In [10]:
# solution
list_1 = []
dict_1 = {}

#### element 추가

ex. 위에서 선언한 list_1에 'a', 'b', 'c'를 추가해보세요.

ex. 위에서 선언한 dict_1에 'a': 1, 'b': 2, 'c': 3 를 추가해보세요.

In [13]:
# 리스트 추가 solution1
list_1.append('a')
list_1.append('b')
list_1.append('c')

print(list_1)

['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']

In [15]:
# 리스트 추가 solution2
list_1 += ['a', 'b', 'c']

In [16]:
print(list_1)

['a', 'b', 'c']

In [17]:
# 딕셔너리 추가 solution1
dict_1['a'] = 1
dict_1['b'] = 2
dict_1['c'] = 3

print(dict_1)

{'c': 3, 'a': 1, 'b': 2}

In [20]:
# 딕셔너리 추가 solution2
dict_1 = dict(a=1, b=2, c=3)
print(dict_1)

{'c': 3, 'a': 1, 'b': 2}

#### 반복문 - for 문

ex. 1부터 10까지의 리스트를 one_to_ten 이라는 이름의 변수로 생성하고 출력하는 for 반복문을 작성하세요.

In [11]:
# for문 solution

# one_to_ten = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
one_to_ten = range(1, 10+1)
for i in one_to_ten:
    print(i)

1
2
3
4
5
6
7
8
9
10

#### 모듈 불러오기

ex. random 모듈을 불러오세요.

ex. time 모듈을 불러오세요.

In [12]:
# 모듈 불러오기 solution
import random
import time

#### random 모듈 사용하기 - 리스트 중 하나 고르기

ex. random모듈을 사용해 가위, 바위, 보 중 하나를 고르는 코드를 작성하세요.

In [13]:
# random모듈 사용하기 solution
games = ['가위', '바위', '보']
random.choice(games)

'보'

#### time 모듈 사용하기 - 5초 쉬기

ex. 1부터 5까지의 리스트를 만들고, time모듈을 사용해 3초씩 쉬며 숫자를 하나씩 출력하는 로직을 작성하세요.

In [14]:
# time모듈 solution
one_to_five = range(1, 5+1)
for i in one_to_five:
    print(i)
    time.sleep(3)

1
2
3
4
5

#### 예외처리

ex. 아래의 프로그램은 오류가 발생하는 프로그램입니다. 

아래의 오류가 발생할 시 '오류가 발생했어요!' 라는 메시지를 출력하는 예외처리를 해보세요.

In [16]:
# 예외처리
v1 = '2'
v2 = 2

v3 = v2 / v1

TypeError: unsupported operand type(s) for /: 'int' and 'str'

In [17]:
# 예외처리 solution
try:
    v1 = '2'
    v2 = 2

    v3 = v2 / v1
except(TypeError) as e:
    print('오류가 발생했어요!')

오류가 발생했어요!

ex. 위의 프로그램에서 '오류가 발생했어요!'라는 예외처리 메시지를 

어떤 오류가 발생했는지 format문으로 표시해보세요.

hint: except문으로 잡은 exception의 이름은 e.\__class\__.\__name\__ 으로 확인할 수 있습니다.

In [18]:
# 예외처리 표시 solution
try:
    v1 = '2'
    v2 = 2

    v3 = v2 / v1
except(TypeError) as e:
    print('{} 오류가 발생했어요!'.format(e.__class__.__name__))

TypeError 오류가 발생했어요!

#### 함수 선언

ex. 위에서 'x와 y를 더하면 x+y입니다.' 라는 프로그램을 작성했습니다.

이를 개량해, x와 y를 넣으면 'x와 y를 더하면 x+y입니다.' 라는 메시지를 출력하는 함수를 작성해보세요.

또한, 더하기 외에도 빼기, 곱하기, 나누기 함수를 작성해봅시다.

함수명은 sumsum(더하기), subsub(뺴기), mulmul(곱하기), divdiv(나누기) 로 하겠습니다.

In [19]:
# 함수선언 solution
def sumsum(x, y):
    print('{x}(와/과) {y}를 더하면 {z}입니다.'.format(x=x, y=y, z=x+y))

def subsub(x, y):
    print('{x}(와/과) {y}를 빼면 {z}입니다.'.format(x=x, y=y, z=x-y))

def mulmul(x, y):
    print('{x}(와/과) {y}를 곱하면 {z}입니다.'.format(x=x, y=y, z=x*y))

def divdiv(x, y):
    print('{x}(와/과) {y}를 나누면 {z}입니다.'.format(x=x, y=y, z=x/y))

sumsum(123, 456)
subsub(123, 456)
mulmul(123, 456)
divdiv(123, 456)

123(와/과) 456를 더하면 579입니다.
123(와/과) 456를 빼면 -333입니다.
123(와/과) 456를 곱하면 56088입니다.
123(와/과) 456를 나누면 0.26973684210526316입니다.

#### 클래스 선언과 객체 생성 및 사용

ex. 위에서 구현한 4칙연산 함수를 이용해 간단한 계산기 클래스를 만들고, 계산기객체를 생성해봅시다.

hint: 함수에 self라는 인자를 추가해야합니다.

In [20]:
# 클래스선언 solution
class Calculator():
    def sumsum(self, x, y):
        print('{x}(와/과) {y}를 더하면 {z}입니다.'.format(x=x, y=y, z=x+y))

    def subsub(self, x, y):
        print('{x}(와/과) {y}를 빼면 {z}입니다.'.format(x=x, y=y, z=x-y))

    def mulmul(self, x, y):
        print('{x}(와/과) {y}를 곱하면 {z}입니다.'.format(x=x, y=y, z=x*y))

    def divdiv(self, x, y):
        print('{x}(와/과) {y}를 나누면 {z}입니다.'.format(x=x, y=y, z=x/y))
        
계산기 = Calculator()

계산기.sumsum(123, 456)

123(와/과) 456를 더하면 579입니다.

# Pandas 다루기

#### pandas 불러오기

ex. pandas 모듈을 pd라는 변수명으로 불러옵시다.

In [21]:
# pandas 불러오기 solution
import pandas as pd

#### 데이터프레임 생성하기

ex. 주어진 list로 다음과 같은 pandas의 dataframe객체를 만들어보세요.

||0|1|2|3|
|-----|-----|-----|-----|-----|
|0|1|2|3|4|
|1|a|b|c|d|

In [22]:
# dataframe 생성
list_1 = [1, 2, 3, 4]
list_2 = ['a', 'b', 'c', 'd']

In [23]:
# dataframe 생성 solution
pd.DataFrame([list_1, list_2])

   0  1  2  3
0  1  2  3  4
1  a  b  c  d

#### row와 column을 전환하기

ex. 위의 예제에서 다음과 같이 row와 column을 반전시켜보세요.(Transpose)

||0|1|
|-----|-----|-----|-----|
|0|1|a|
|1|2|b|
|2|3|c|
|3|4|d|

In [24]:
# transpose solution
list_1 = [1, 2, 3, 4]
list_2 = ['a','b', 'c', 'd']

pd.DataFrame([list_1, list_2]).T

   0  1
0  1  a
1  2  b
2  3  c
3  4  d

#### DataFrame Column명 변경하기

ex. 다음과 같은 데이터프레임을 변수명 'celeb_df'로 만들고 칼럼을 '이름' 과 '나이'로 변경해보세요.

|     |0    |1    |
|-----|-----|-----|
|  0  |장동건 |  45 |
|  1  |원빈  |  39  |
|  2  |정우성 | 44  |

In [25]:
# column명 변경 solution
list_1 = ['장동건', '원빈', '정우성']
list_2 = [45, 39, 44]

celeb_df = pd.DataFrame([list_1, list_2]).T
celeb_df.columns = ['이름', '나이']
celeb_df

    이름  나이
0  장동건  45
1   원빈  39
2  정우성  44

#### DataFrame column 조회하기

ex. 위에서 작성한 celeb_df의 '이름' 칼럼만을 조회해보세요.

In [26]:
# column 조회 solution
celeb_df['이름']

0    장동건
1     원빈
2    정우성
Name: 이름, dtype: object

#### DataFrame row 조회하기

ex. 위에서 작성한 celeb_df를 이름이 원빈인 행만 보여주세요.

In [27]:
# row 조회 solution1
celeb_df.loc[1]
# row 조회 solution2
celeb_df[celeb_df['이름'] == '원빈']

   이름  나이
1  원빈  39

#### DataFrame 정렬하기
ex. celeb_df를 나이가 적은 순으로(오름차순) 정렬해보세요.

In [28]:
# DataFrame 정렬 solution
celeb_df.sort_values('나이')

    이름  나이
1   원빈  39
2  정우성  44
0  장동건  45

ex. celeb_df를 나이가 많은 순으로 (내림차순) 정렬해보세요.

In [29]:
# DataFrame 정렬 solution
celeb_df.sort_values('나이', ascending=False)

    이름  나이
0  장동건  45
2  정우성  44
1   원빈  39

# selenium 다루기

#### selenium의 webdriver 모듈을 불러오기

In [30]:
# selenium webdriver 불러오기
from selenium import webdriver

#### webdriver객체를 생성하기

In [36]:
# 객세생성 solution
driver = webdriver.Chrome()

#### 네이버 접속하기

In [37]:
# naver 접속하기 solution
driver.get('http://www.naver.com')

#### 네이버 로그인하기

In [38]:
# naver 로그인 solution
id_element = driver.find_element_by_id('id')
pw_element = driver.find_element_by_id('pw') 

id_element.send_keys('__id__')
pw_element.send_keys('__password__')

login_button = driver.find_element_by_css_selector('span.btn_login')
login_button.click()