#모듈 불러오기

In [1]:
import time

racdom 모듈 사용하기 - 리스트 중 하나 고르기
ex.random모듈을 사용해 가위, 바위, 보 중 하나를 고르는 코드를 작성하세요.

#random모듈 사용하기

In [3]:
gawi = ['가위', '바위', '보']

time 모듈 사용하기 - 5초 쉬기

ex. 1부터 5까지의 리스트를 만들고, time모듈을 사용해 3초씩 쉬며 숫자를 하나씩 작성하는 로직을 작성하시오

#time모듈 사용하기

In [6]:
one_to_five = range(1, 5+1)

In [7]:
for i in one_to_five:
    print(i)
    time.sleep(3)

1
2
3
4
5

In [13]:
#예외처리표시
try:
    v1 = '2'
    v2 = 2
    
    v3 = v2 / v1
except(TypeError) as e:
    print('{ex} 오류가 발생했어요.' format(ex=e.__class__.__name__))

SyntaxError: invalid syntax (<ipython-input-13-32df1fbd07ac>, line 8)

함수선언

In [14]:
def sumsum():
    print('{x}와 {y}를 더하면 {z}입니다.'.format(x=a, y=b, z=a+b))

In [17]:
def subsub():
    print('{x}와 {y}를 빼면 {z}입니다.'.format(x=a, y=b, z=a-b))

In [18]:
def mulmul():
    print('{x}와 {y}를 곱하면 {z}입니다.'.format(x=a, y=b, z=a*b))

In [19]:
def divdiv():
    print('{x}와 {y}를 나누면 {z}입니다.'.format(x=a, y=b, z=a/b))

Pandas 불러오기

In [21]:
import pandas as pd

In [27]:
# dataframe 생성
list_1 = [1, 2, 3, 4]
list_2 = ['a', 'b', 'c', 'd']
list_3 = ['최', '용', '희', '다']

In [28]:
pd.DataFrame([list_1, list_2, list_3])

   0  1  2  3
0  1  2  3  4
1  a  b  c  d
2  최  용  희  다

In [31]:
# transpose
pd.DataFrame([list_1, list_2]).T

   0  1
0  1  a
1  2  b
2  3  c
3  4  d

In [32]:
#column명 변경
list_1 = ['장동건','원빈','정우성']
list_2 = [45, 39, 44]

celeb_df = pd.DataFrame([list_1, list_2]).T

In [34]:
pd.DataFrame([list_1, list_2])

     0   1    2
0  장동건  원빈  정우성
1   45  39   44

In [35]:
celeb_df.columns = ['이름', '나이']

In [36]:
celeb_df['이름']

0    장동건
1     원빈
2    정우성
Name: 이름, dtype: object

In [39]:
celeb_df['이름'] == '원빈'

0    False
1     True
2    False
Name: 이름, dtype: bool

In [40]:
celeb_df[celeb_df['이름'] == '원빈']

   이름  나이
1  원빈  39

In [42]:
celeb_df.sort_values('나이')

    이름  나이
1   원빈  39
2  정우성  44
0  장동건  45

In [43]:
celeb_df

    이름  나이
0  장동건  45
1   원빈  39
2  정우성  44

Selenium 다루기

In [1]:
from selenium import webdriver

In [3]:
driver = webdriver.Chrome("C:/Users/Matt Choi")

WebDriverException: Message: 'Matt Choi' executable may have wrong permissions. Please see https://sites.google.com/a/chromium.org/chromedriver/home

In [ ]:
driver.get('http://www.naver.com')